<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome, <%= user.username %></h1>
        <p>This is the home page. You are logged in!</p>
        <a href="/logout" class="btn btn-secondary">Logout</a>
    </div>
</body>
</html>
